/*IMPORTANT IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";

/*Normal css styles*/
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.container {
  padding-left: 10%;
  padding-right: 10%;  
  align-items: center; 
  justify-content: center;
}

